html.light {
  // ui-standard
  --tc-pure: #000;
  --tc-pure-reverse: #fff;
  --tc-brand: #f8b500;
  --tc-common-40: rgba(77, 77, 77, 0.4);
  --tc-status-warn: #f8b500;
  --tc-status-finish: #34a853;
  --tc-status-error: #ea4335;
  --tc-status-info: #4285f4;
  --tc-status-unfinish: #6a6d70;
  --tc-tinge-approval: #aad1b5;
  --tc-tinge-delay: #ffcfcb;
  --tc-tinge-robot: #cee0ff;
  --tc-btn-yellow-normal: #f8b500;
  --tc-btn-yellow-hover: #ffba33;
  --tc-btn-yellow-aspc: #e59500;
  --tc-btn-yellow-disable: #ffda92;
  --tc-btn-green-normal: #34a853;
  --tc-btn-green-hover: #4eb269;
  --tc-btn-green-aspc: #18a03a;
  --tc-btn-green-disable: #89c799;
  --tc-btn-red-normal: #ea4335;
  --tc-btn-red-hover: #f5675b;
  --tc-btn-red-aspc: #d52c20;
  --tc-btn-red-disable: #ffaea7;
  --tc-btn-blue-normal: #4285f4;
  --tc-btn-blue-hover: #67a0ff;
  --tc-btn-blue-aspc: #2a72dd;
  --tc-btn-blue-disable: #abcbff;
  --tc-btn-gray-normal: #ffffff;
  --tc-btn-gray-hover: #e6e6e6;
  --tc-btn-gray-aspc: #dbdbdb;
  --tc-btn-gray-disable: #c7c7c7;
  --tc-icon-gray-normal: #1c3045;
  --tc-icon-gray-hover: #293b4f;
  --tc-icon-gray-aspc: #132538;
  --tc-icon-gray-disable: #5b646e;
  --tc-table-select-normal: #ffffff;
  --tc-table-select-hover: #ffffc9;
  --tc-table-select-aspc: #fdfdaf;
  --tc-table-select-disable: #e8e8e8;
  --tc-text-extrude: #1a1a1a;
  --tc-regular-text: #333333;
  --tc-header-text: #4d4d4d;
  --tc-label-text: #6a6d70;
  --tc-watermark-text: #b3b3b3;
  --tc-progresst-border: #89919a;
  --tc-form-scroll-border: #89919a;
  --tc-content-dialogd: #ffffff;
  --tc-tbodyodd-form: #ffffff;
  --tc-tbodyeven: #f2f2f2;
  --tc-navbar-topbar: #304156;
  --tc-mostbottom: #e0e0e0;
  --tc-globalsearch: #f0f0f0;
  --tc-tabbar: #dedede;
  --tc-dialog-border: #e6e6e6;
  --tc-cell-disable: #e8e8e8;
  --tc-table-border: #d8d8d8;
  --tc-table-header: #c9c9c9;
  --tc-navbar-border: #333;
  --tc-tooltip: #4d4d4d;
  // table
  --tc-table-empty: #ffffff; // 空白表格底色
  --tc-cell-form: #ffffff; // 表格表单样式
  --tc-th-background: #c9c9c9; // 表格表头底色
  --tc-th-text: #4d4d4d; // 表格表头文字
  --tc-tr-odd: #ffffff; // 表格奇行
  --tc-tr-even: #f2f2f2; // 表格偶行
  --tc-cell-border: #e3e3e3; // 单元格描边
  --tc-cell-disable: #e8e8e8; // 单元格禁用
  --tc-cell-hover: #ffffc9; // 单元格悬停
  --tc-cell-selected: #fdfdaf; // 单元格选中
  --tc-cell-selected-text: #1a1a1a; // 单元格选中时的文字颜色
  // custom
  --tc-pagination: #efeff3;
  --tc-card-header: #f2f2f2;
  @import './theme-element.scss';
}
